[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ninja = "*"
accelerate = "*"
stable-diffusion-videos = {editable = true, path = "./.."}
youtube-dl = "*"
pipdeptree = "*"
loguru = "*"
diffusers = "*"

[dev-packages]

[requires]
python_version = "3.10"
